<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLab">

        <activity
            android:name=".RecyclerActivity"
            android:label="@string/title_recyclerview"
            android:exported="false">
        </activity>
    </application>

</manifest>